<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.xiongmingcai.blog.model.dao.ArticleMapper">
    <!-- cat_article rid 找文章列表-->
    <select id="selectCatArticleByRid" resultType="top.xiongmingcai.blog.model.pojo.Article">
        select *
        from cat_article
                 left join article on cat_article.aid = article.uuid
        where rid = #{rid}
        order by sort desc
    </select>
    <!-- 根据 cat_article aid 找一篇文章-->
    <select id="selectCatArtocleAid" resultType="top.xiongmingcai.blog.model.pojo.Article">
        select *
        from cat_article
                 left join article on article.uuid = cat_article.aid
        where aid = #{aid};
    </select>
    <select id="getLastModifiedArticle" resultType="top.xiongmingcai.blog.model.pojo.Article">
        select *
        from article
        order by dateModif
        limit 3,1;
    </select>
</mapper>